@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling + optional base styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.arkire.pale');
}
